<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.7.2">
            <assemblies>
                <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.7.2" />
    </system.web>

    <!-- This solves the problem:
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.3.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    -->
</configuration>